<%- include('partials/header') %>
<% let x= data.statewise; %>
<% for(let i = 0; i < x.length ; i++){ %>
    <% let st = x[i] ; %>
        <%   for (let property in st) { %>
            <% if(property=='active' || property=='confirmed' || property=='deaths' || property=='recovered'){ %>
                <% var change = st[property]; %>
                <% var lastThree = change.substring(change.length-3); %>
                <% var otherNumbers = change.substring(0,change.length-3); %>
                <% if(otherNumbers != ''){ %>
                    <% lastThree = ',' + lastThree; %>
                    <% } %>
                <% st[property] = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree;  %> 
            <% } %>
        <% } %>
    <% } %>

  <section id="banner">
      <div class="container mx-auto align-items-center justify-content-between">
          <div class="row">
              <div data-aos="zoom-out" class="headimg  col-lg-7 order-lg-last">
                <img src="/images/covidfight.png" alt="fight covid" class="img-fluid">
              </div>
              <div id="bcol" class="col-12 col-lg-5 my-auto">
                  <div class="spa">
                    <span id="corona">Coronavirus</span>
                    <span class="badge-danger">COVID-19</span>
                  </div>
                  <h1 id="head">INDIA-Live Tracker</h1>
                  <h2>State and District Data</h2>
                  <p>Outbreak of coronavirus in India: Latest Case Count of Covid19.</p>
                  <p>A crowdsourced effort to track the coronavirus in India. A detailed information about coronavirus in India In the form of tables of the number of cases by state and district.</p>
              </div>
          </div>
          <div class="text-center">
            <p id="info"><span><%= data.statewise[0].lastupdatedtime %> IST <i id="corona" class="far fa-bell"></i></sapn></p>
          </div>
        </div>
  </section>
  <section id="totalcases">
    <div class="container mx-auto align-items-center justify-content-center">
        <div class="row no-gutters">
            <div class="col-12 col-md-3">
                <div class="cardbk cardcon mx-auto">
                    <div data-aos="zoom-in-up" data-aos-mirror="true" class="player">
                        <span id="total">CONFIRMED</span>
                        <h1><%= data.statewise[0].confirmed %></h1>
                        <p id="delta-con">[+<%= data.statewise[0].deltaconfirmed %>]</p>
                    </div>
                </div>  
            </div>
            <div class="col-12 col-md-3">
                <div class="cardbk cardact mx-auto">
                    <div data-aos="zoom-in-up" data-aos-mirror="true" class="player">
                        <span id="active">ACTIVE</span>
                        <h1><%= data.statewise[0].active %></h1>
                        <p id="delta-rec">&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="cardbk cardrec mx-auto">
                    <div data-aos="zoom-in-up" data-aos-mirror="true" class="player">
                        <span id="recover">RECOVERED</span>
                        <h1><%= data.statewise[0].recovered %></h1>
                        <p id="delta-rec">[+<%= data.statewise[0].deltarecovered %>]</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in-up" data-aos-mirror="true" class="col-12 col-md-3">
                <div class="cardbk mx-auto">
                    <div class="player">
                        <span id="deth">DECEASED</span>
                        <h1><%= data.statewise[0].deaths %></h1>
                        <p id="delta-dsc">[+<%= data.statewise[0].deltadeaths %>]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section id="states">
      <div class="container justify-content-center mt-2">
        <div class="text-center">
            <h2>Statewise Tracker</h2>
            <p id="info">Compiled from State Govt. numbers as published by MoHFW</p>
            <p id="info">Click on states to get districtwise data.</p>
        </div>
          <table data-aos="zoom-in-up"class="plate mx-auto" align="center">
              <tr>
                  <th>State/UT</th>
                  <th class="text-center" id="total"><span id="confirm">CONFIRMED</span><span id="con">Cnfrm</span></th>
                  <th class="text-center" id="active"><span id="confirm">ACTIVE</span><span id="con">Actv</span></th>
                  <th class="text-center" id="recover"><span id="confirm">RECOVERED</span><span id="con">Rec</span></th>
                  <th class="text-center" id="deth"><span id="confirm">DECEASED</span><span id="con">Dcs</span></th>
              </tr>
              <% for(var i = 1 ; i < data.statewise.length; i++){ %>
               <% var state = data.statewise[i]; %>
                <tr>
                    <% if(state.state=='State Unassigned'){ %>
                        <td id="state"><a href="/state/<%= state.state %>">These cases are being reassigned to states by MoHFW</a></td>
                    <% }else{ %>
                        <td id="state"><a href="/state/<%= state.state %>"><%= state.state %></a></td>
                    <% } %>
                    <td class="text-center"><a href="/state/<%= state.state %>"><span id="state-delta-con"><i class="fas fa-angle-up"></i> <%= state.deltaconfirmed %></span> <%= state.confirmed %></a></td>
                    <td class="text-center"><a href="/state/<%= state.state %>"><%= state.active %></a></td>
                    <td class="text-center"><a href="/state/<%= state.state %>"><span id="state-delta-rec"><i class="fas fa-angle-up"></i> <%= state.deltarecovered %></span> <%= state.recovered %></a></td>
                    <td class="text-center"><a href="/state/<%= state.state %>"><span id="state-delta-dsc"><i class="fas fa-angle-up"></i> <%= state.deltadeaths %></span> <%= state.deaths %></a></td>
                </tr>
              <% } %>
          </table>
      </div>
  </section>
  <section id="about">
      <div class="container text-center mt-4">
          <div data-aos="zoom-in-up">
            <a class="ftco" href="https://api.covid19india.org/"><button type="button" id="crowd" class="btn btn-outline-dark"><i class="fas fa-database"></i></i> CROWDSOURCED PATIENT DATABASE</button></a>
          </div>
          <a class="ftco" href="https://www.facebook.com/ashutoshshukla8"><i class="fab fa-facebook"></i></a>
          <a class="ftco" href="https://www.instagram.com/ashutoshshukla__/"><i class="fab fa-instagram"></i></a>
          <a class="ftco" href="https://twitter.com/ashu_shukla_"><i class="fab fa-twitter"></i></a>
      </div>
  </section>
<%- include('partials/footer') %>